doctype html
html

	head
		meta(charset='utf-8')
		title Con Hordeum&nbsp;Forte estarás listo para el sexo 24/7
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800")
		link(rel='stylesheet', href='css/style.css')
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-slider
				.b-slider__badges
					.container
						img(src="img/badge-bestseller.png", alt="")
						img(src="img/badge-gmo.png", alt="")
				.b-slider__inner
					.b-slider__slide.b-slider__slide--1
						.b-slider__part.b-slider__part--1
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-1-1-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-1-1.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text ¿No has podido otra vez? ¿Tu pene no se ha puesto erecto en el momento oportuno?
									button.c-btn.b-slider__btn.pre_toform Arregla la situación
						.b-slider__part.b-slider__part--2
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-1-2-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-1-2.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text #[strong Con Hordeum&nbsp;Forte] estarás listo para el sexo 24/7
									button.c-btn.b-slider__btn.pre_toform Pedir Hordeum&nbsp;Forte
								.b-slider__right
									img(src="img/product.png", alt="").b-slider__product
					.b-slider__slide.b-slider__slide--2
						.b-slider__part.b-slider__part--1
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-2-1-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-2-1.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text ¿Las ganas frecuentes de vomitar van acompañadas de la dificultad para orinar, dolor y ardor en los testículos?
									button.c-btn.b-slider__btn.pre_toform Libérate del dolor
						.b-slider__part.b-slider__part--2
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-2-2-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-2-2.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text #[strong Hordeum&nbsp;Forte] alivia los síntomas de inflamación e infecciones 17 minutos después de la primera ingesta
									button.c-btn.b-slider__btn.pre_toform Pedir Hordeum&nbsp;Forte
								.b-slider__right
									img(src="img/product.png", alt="").b-slider__product
					.b-slider__slide.b-slider__slide--3
						.b-slider__part.b-slider__part--1
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-3-1-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-3-1.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text ¿Te corres demasiado rápido? ¿No puedes satisfacer completamente a tu pareja por lo que pasas horas en el trabajo y haciendo diversas tareas?
									button.c-btn.b-slider__btn.pre_toform Recupera el deseo sexual
						.b-slider__part.b-slider__part--2
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-3-2-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-3-2.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text #[strong Hordeum&nbsp;Forte] devolverá tu poder sexual. ¡Nunca es demasiado tarde para comenzar!
									button.c-btn.b-slider__btn.pre_toform Pedir Hordeum&nbsp;Forte
								.b-slider__right
									img(src="img/product.png", alt="").b-slider__product
				.b-slider__pager.b-pager
					ul.b-pager__list
						li.b-pager__item #[a(href="", data-slide-index='0').b-pager__handler]
						li.b-pager__item #[a(href="", data-slide-index='1').b-pager__handler]
						li.b-pager__item #[a(href="", data-slide-index='2').b-pager__handler]
			.b-about
				.container
					.b-about__inner
						h2.b-about__title #[b Hordeum&nbsp;Forte] la clave de la salud masculina
						.b-about__scheme.b-scheme
							.b-scheme__item.b-scheme__item--1
								.b-scheme__icon
								p.b-scheme__text Una cápsula de Hordeum&nbsp;Forte
							.b-scheme__item.b-scheme__item--2
								.b-scheme__icon
								p.b-scheme__text La fuerza de la cebada
							.b-scheme__item.b-scheme__item--3
								.b-scheme__icon
								p.b-scheme__text Energía sexual masculina infalible
						img(src="img/about-bg.png", alt="").b-about__img
						.b-about__wrap
							img.b-about__product(src="img/product-2.png", alt="")
							p.b-about__text Las propiedades de mejora de la salud de este cereal se conocen desde la época de los antiguos romanos y egipcios. En el siglo XVIII, ninguna tintura médica podía prescindir de granos germinados y triturados de cebada. Los curanderos explicaban esto por el hecho de que estos granos producen un efecto beneficioso en el organismo masculino: sacian, dan vitalidad, restablecen el equilibrio hormonal y tratan las enfermedades genitourinarias.
						button.c-btn.b-about__btn.pre_toform Pedir Hordeum&nbsp;Forte
			.b-composition
				.b-composition__inner
					.b-composition__top
						.container
							h2.b-composition__title #[b Ingredientes reales] Resultados reales
							picture
									source(srcset="img/about-capsule-mobile.png", media="(max-width: 991px)")
									img(src="img/about-capsule.png", alt="", data-rellax-speed="1").b-composition__capsule.js-parralax
							picture
								source(srcset="img/about-barley-mobile.png", media="(max-width: 991px)")
								img(src="img/about-barley.png", alt="").b-composition__barley
					.b-composition__bottom
						.container
							h3.b-composition__subtitle El extracto de los granos germinados
							p.b-composition__lead de cebada alivia los síntomas de dolor en la región de la ingle y el perineo y facilita la micción en solo 3 horas.
							ul.b-composition__list.js-scroll-detection(data-scroll-shift="120")
								li.b-composition__item.b-composition__item--1
									img.b-composition__pic(src="img/ingredient-1.png", alt="")
									.b-composition__info
										h4.b-composition__name La biotina
										p.b-composition__desc  elimina la inflamación de la próstata y restablece los niveles de testosterona
								li.b-composition__item.b-composition__item--2
									img.b-composition__pic(src="img/ingredient-2.png", alt="")
									.b-composition__info
										h4.b-composition__name La vitamina E
										p.b-composition__desc elimina los procesos infecciosos e inflamatorios y restaura las defensas del cuerpo
								li.b-composition__item.b-composition__item--3
									img.b-composition__pic(src="img/ingredient-3.png", alt="")
									.b-composition__info
										h4.b-composition__name La vitamina B
										p.b-composition__desc aumenta la cantidad de semen y la actividad de los espermatozoides
								li.b-composition__item.b-composition__item--4
									img.b-composition__pic(src="img/ingredient-4.png", alt="")
									.b-composition__info
										h4.b-composition__name La fibra
										p.b-composition__desc absorbe y elimina las toxinas del cuerpo y los venenos que suprimen la inmunidad
							img.b-composition__stars(src="img/stars.gif", alt="")
							p.b-composition__slogan Hordeum&nbsp;Forte — resultados garantizados sin efectos secundarios
							button.c-btn.b-composition__btn.pre_toform Pedir Hordeum&nbsp;Forte
			.b-effects
				.container
					.b-effects__inner
						img.b-effects__product.js-parralax(src="img/product-3.png", alt="", data-rellax-speed=".5")
						h2.b-effects__title #[b Hordeum&nbsp;Forte] cuida la salud de los hombres
						.b-effects__wrap
							.b-effects__item
								img.b-effects__img(src="img/effects-img-1.gif", alt="")
								p.b-effects__text La acción de Hordeum&nbsp;Forte en la prostatitis crónica se basa en la normalización del flujo sanguíneo en la próstata, reduciendo el edema y la inflamación. Desde los primeros días del tratamiento de la prostatitis, Hordeum&nbsp;Forte conduce al alivio de los síntomas. Este fármaco actúa directamente y no tiene efectos secundarios
							.b-effects__item
								img.b-effects__img(src="img/effects-img-2.gif", alt="")
								p.b-effects__text Está demostrado que Hordeum&nbsp;Forte no produce un impacto negativo en las funciones sexuales y reproductivas, lo cual es importante para cualquier hombre moderno.
			.b-research
				.b-research__wrap
					p.b-research__text Los estudios clínicos han demostrado que Hordeum&nbsp;Forte no solo tiene un efecto antiinflamatorio eficaz, sino que también aumenta la eficacia de los antibióticos y afecta positivamente a la espermatogénesis.
					.b-research__man
			.b-guarantees
				.container
					.b-guarantees__inner
						.b-guarantees__item
							img.b-guarantees__icon(src="img/guarantees-icon-1.png", alt="")
							p.b-guarantees__text El uso de este fármaco a largo plazo no tiene efectos negativos y no produce adicción.
						.b-guarantees__item
							img.b-guarantees__icon(src="img/guarantees-icon-2.png", alt="")
							p.b-guarantees__text El tratamiento con Hordeum&nbsp;Forte permite a los pacientes llevar un estilo de vida activo.
			.b-expert
				img.b-expert__el.b-expert__el--1(src="img/expert-el-1.png", alt="")
				img.b-expert__el.b-expert__el--2(src="img/expert-el-2.png", alt="")
				img.b-expert__el.b-expert__el--3(src="img/expert-el-3.png", alt="")
				img.b-expert__el.b-expert__el--4(src="img/expert-el-4.png", alt="")
				img.b-expert__el.b-expert__el--5(src="img/expert-el-5.png", alt="")
				.container
					.b-expert__inner
						h2.b-expert__title Qué dicen los expertos
						p.b-expert__text La prostatitis es una enfermedad bastante grave que debe tratarse de inmediato. Al principio, los síntomas pueden pasar desapercibidos, pero la enfermedad está a la vuelta de la esquina. Actualmente, es posible revertir la enfermedad con más éxito y de forma más fácil. Por lo tanto, lo principal en el tratamiento es no saltarse la etapa inicial, de lo contrario, las consecuencias pueden ser irreversibles:
						.b-expert__pics
							.b-expert__photo.b-expert__photo--1.js-scroll-detection
								.b-photo
									picture
										source(srcset="img/photo-1-mobile.jpg", media="(max-width: 991px)")
										img(src="img/photo-1.jpg", alt="").b-photo__pic
									p.b-photo__desc Disfunción sexual e infertilidad
							.b-expert__photo.b-expert__photo--2.js-scroll-detection
								.b-photo
									picture
										source(srcset="img/photo-2-mobile.jpg", media="(max-width: 991px)")
										img(src="img/photo-2.jpg", alt="").b-photo__pic
									p.b-photo__desc Adenoma de la próstata
							.b-expert__photo.b-expert__photo--3.js-scroll-detection
								.b-photo
									picture
										source(srcset="img/photo-3-mobile.jpg", media="(max-width: 991px)")
										img(src="img/photo-3.jpg", alt="").b-photo__pic
									p.b-photo__desc Tumores oncológicos
						.b-expert__mobilePaper
							p.b-expert__text Para evitar tales complicaciones, recomiendo Hordeum&nbsp;Forte a todos mis clientes. En base a mi propia práctica médica, he llegado a la conclusión de que solo este complejo produce una mejora significativa. El fármaco comienza a actuar durante las primeras horas y, día tras día, restaura la próstata hasta un estado saludable.
							p.b-expert__text La composición de Hordeum&nbsp;Forte hace posible su uso con fines preventivos. Gracias a sus componentes, previene los fenómenos de estancamiento y afecta positivamente al suministro de sangre de la próstata y la salida de secreción de la glándula. Por lo tanto, la prevención con Hordeum&nbsp;Forte reduce significativamente la probabilidad de inflamación de la próstata.
							p.b-expert__slogan ¡Con Hordeum&nbsp;Forte seguro que podrás!
							img.b-expert__sign(src="img/expert-sign.png", alt="")
							.b-expert__buisnessCard.js-scroll-detection(data-scroll-shift="50")
								.b-buisnessCard
									p.b-buisnessCard__name Alejandro Ardoy
									p.b-buisnessCard__role experto en el campo de la salud masculina
									.b-buisnessCard__img
			.b-compare
				.container
					.b-compare__inner
						p.b-compare__slogan #[b Hordeum&nbsp;Forte] aliviará los síntomas de la prostatitis más rápido que los métodos tradicionales
						.b-compare__table
							.b-table
								.b-table__header
									.b-table__row
										.b-table__cell Velas
										.b-table__cell Antibióticos
										.b-table__cell Masaje
										.b-table__cell Hordeum&nbsp;Forte
								.b-table__body
									.b-table__row
										.b-table__cell Se introducen rectalmente
										.b-table__cell Suprimen la inmunidad de las células del cuerpo
										.b-table__cell Procedimiento doloroso y humillante
										.b-table__cell.b-table__cell--goodCheck.js-scroll-detection Sin incomodidad
									.b-table__row
										.b-table__cell Causan ardor y malestar
										.b-table__cell Efectos secundarios
										.b-table__cell Puede intensificar la inflamación
										.b-table__cell.b-table__cell--goodCheck.js-scroll-detection Sin efectos secundarios
									.b-table__row
										.b-table__cell Ineficaces en caso de dolor agudo
										.b-table__cell Incompatibles con el alcohol
										.b-table__cell Puede conducir a la propagación de la infección en todo el cuerpo
										.b-table__cell.b-table__cell--goodCheck.js-scroll-detection Se puede combinar con el alcohol
									.b-table__row
										.b-table__cell Efecto en 6-8 días 
										.b-table__cell Resultados en unos días
										.b-table__cell Efecto después del tratamiento completo
										.b-table__cell.b-table__cell--goodCheck.js-scroll-detection Efectos notables unas horas después de la ingesta
			.b-faq
				.container
					.b-faq__inner
						h2.b-faq__title Preguntas #[b frecuentes]
						.b-faq__list
							.b-faq__item
								button.b-faq__tab ¿A quién se recomienda Hordeum&nbsp;Forte?
								.b-faq__tail
									p.b-faq__text Este fármaco se recomienda en caso de inflamación de la próstata. Además, Hordeum&nbsp;Forte alivia los efectos de la prostatitis crónica y restaura la salud masculina. Dado que este medicamento es completamente natural, no hay restricción de edad.
							.b-faq__item
								button.b-faq__tab ¿Cómo tomar Hordeum&nbsp;Forte?
								.b-faq__tail
									p.b-faq__text Toma una cápsula 3 veces al día durante el tratamiento.
							.b-faq__item
								button.b-faq__tab ¿Cómo funciona Hordeum&nbsp;Forte?
								.b-faq__tail
									p.b-faq__text La alta eficacia del fitocomplejo Hordeum&nbsp;Forte se debe a una fórmula especial sin antibióticos que afecta positivamente al cuerpo.
									p.b-faq__text Los componentes vegetales, incluidos en la composición de las cápsulas, tienen un efecto antimicrobiano. Además, eliminan el proceso inflamatorio que conduce a la restauración del funcionamiento completo del aparato reproductor.
							.b-faq__item
								button.b-faq__tab ¿Cómo afecta Hordeum&nbsp;Forte a la potencia sexual?
								.b-faq__tail
									p.b-faq__text Los componentes activos de este fármaco restauran la producción de la hormona masculina, la testosterona, y activan la circulación sanguínea en el área genital. Hordeum&nbsp;Forte mejora el flujo de sangre al pene, lo que proporciona una erección firme y prolongada.
									p.b-faq__text ¡Solo tú decides cuándo eyacular!
			.b-anyQuestions
				.b-anyQuestions__wrapper
					.b-anyQuestions__inner
						.b-anyQuestions__operator
						img.b-anyQuestions__product(src="img/product-2.png", alt="")
						h3.b-anyQuestions__title ¿No has encontrado tu pregunta?
						p.b-anyQuestions__lead Nuestros especialistas están listos para asesorarte en el momento más cómodo para ti
						.b-anyQuestions__form
							form.b-form#order_form(action="", method="post")
								.b-form__inner
									.b-form__group.b-form__group--select
										select.b-form__field#country_code_selector
											option(value="ES") España
									.b-form__group
										label.b-form__label(for="form-name") Nombre
										input(type="text", name="name", id="form-name").b-form__field
									.b-form__group
										label.b-form__label(for="form-phone") Número de teléfono
										input(type="tel", name="phone", id="form-phone").only_number.b-form__field
									p.b-form__privacy Garantizamos la confidencialidad de tus datos personales
									button.b-form__btn.c-btn.js_submit.button__text Solicitar una llamada
			.b-feedbacks
				.container
					.b-feedbacks__inner
						h2.b-feedbacks__title #[b Ellos ya han derrotado] a la prostatitis
						.b-feedbacks__list
							.b-feedbacks__item
								.b-review
									.b-review__header
										.b-review__ava
											img.b-review__pic(src="img/review-ava-1.jpg", alt="")
										.b-review__info
											p.b-review__name Ismael, 48 años
											p.b-review__date #[script dtime_nums(-14, true)]
									.b-review__body
										p.b-review__text Empecé a sentir un dolor agudo en el perineo y la parte baja de la espalda. Luego, vi coágulos de sangre en el semen, así que fui corriendo al urólogo. Resultó ser que tenía PROSTATITIS. Pensé que mi vida había terminado y me pasé medio año bebiendo sin esperanza. Debo las gracias a mi amigo que me detuvo a tiempo y encontró estas cápsulas. He vuelto a nacer. Me siento genial.
							.b-feedbacks__item
								.b-review
									.b-review__header
										.b-review__ava
											img.b-review__pic(src="img/review-ava-2.jpg", alt="")
										.b-review__info
											p.b-review__name Аndrés, 37 años 
											p.b-review__date #[script dtime_nums(-8, true)]
									.b-review__body
										p.b-review__text Chicos, ¡no dejéis el problema para después! De lo contrario, pasaréis por los nueve círculos del infierno como yo. Cada año tenía que someterme a un tratamiento con masaje y antibióticos – todo eso duró 5 años y solo así pude aliviar las molestias. Gracias a Dios, después del tratamiento con Hordeum&nbsp;Forte, se me pasó todo. ¡Por fin han inventado un fármaco realmente eficaz!
							.b-feedbacks__item
								.b-review
									.b-review__header
										.b-review__ava
											img.b-review__pic(src="img/review-ava-3.jpg", alt="")
										.b-review__info
											p.b-review__name Alex, 52 años
											p.b-review__date hace 8 horas
									.b-review__body
										p.b-review__text Hace un par de meses, comencé a sentir un dolor agudo en el escroto. Sabía lo que estaba sucediendo, pero no quería ir al médico. Aguantaba el dolor. Qué idiota había sido. El médico, en lugar de prescribirme un tratamiento, me dijo que tenía que operarme. Aparecieron canas en dos días. Fui a otro médico que me recetó tomar Hordeum&nbsp;Forte. Completé el tratamiento y ahora no me molesta nada.
			.b-order
				.container
					.b-order__inner
						.b-order__peoples
						h2.b-order__title #[b Hordeum&nbsp;Forte] tu oportunidad de cambiar la vida para mejor 100% victoria sobre la prostatitis
						span.b-order__discount.js-parralax(data-rellax-speed=".5") -50%
						img.b-order__product(src="img/product-2.png", alt="")
						.b-order__cost
							p.b-order__oldprice {{ old_price }} {{ currency }}
							p.b-order__newprice {{ price }} {{ currency }}
						.b-order__form
							form.b-form#order_form(action="", method="post")
								.b-form__inner
									.b-form__group.b-form__group--select
										select.b-form__field#country_code_selector
											option(value="ES") España
									.b-form__group
										label.b-form__label(for="order-form-name") Nombre
										input(type="text", name="name", id="order-form-name").b-form__field
									.b-form__group
										label.b-form__label(for="order-form-phone") Número de teléfono
										input(type="tel", name="phone", id="order-form-phone").only_number.b-form__field
									p.b-form__privacy Garantizamos la confidencialidad de tus datos personales
									button.b-form__btn.c-btn.js_submit.button__text Realizar pedido 
		script(src="js/rellax.min.js")
		script(src="js/bxslider.js")
		script(src="js/common.js")